<!--<footer class="container text-center" style="color: blue;" >
    <mat-card color="primery">copty right@2022</mat-card>
   </footer>-->

    <!-- Footer -->
<footer class="container-footer">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Company</h5>
  
          <ul class="list-unstyled">
            <li>
              About Us
            </li>
            <li>
              Careers
            </li>
            <li>
              Team
            </li>
            <li>
              Sales
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Support</h5>
  
          <ul class="list-unstyled">
            <li>
              Contact Us
            </li>
            <li>
             Help Center
            </li>
           
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Partner</h5>
  
          <ul class="list-unstyled">
            <li>
              Become a Partner
            </li>
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>
  
         <h1 ><span class="bule">  <mat-icon>language</mat-icon>WellUsify</span></h1>
         <mat-icon>facebook</mat-icon> <mat-icon> local_post_office</mat-icon>


  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">2021@ WellUsify.All right reserved:      
      <p >Privacy policy| Cookie policy| Terms of Service | General Team and condition </p>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  